@charset "UTF-8";
/* =========================
   common(スマホ基準)
========================= */
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Yu Gothic", "YuGothic", "Hiragino Sans", "Meiryo", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  padding: 0 24px;
  font-size: 20px;
  letter-spacing: 1.2px;
}
h3::before,
h3::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 24px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}
h3::before {
  left: 0;
}
h3::after {
  right: 0;
}

h4 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  line-height: 1.8;
}
.container {
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}
.heading-center {
  text-align: center;
}
button {
  cursor: pointer;
}
.more-btn {
  margin: 0 auto;
  display: block;
  padding: 16px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  background: rgb(214, 251, 203);
  margin-top: 32px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.4s;
  width: 100%;
  color: rgb(93, 93, 93);
}

.more-btn:hover {
  background: rgb(183, 244, 164);
}
img {
  max-width: 100%;
  height: auto;
}
/* =========================
   header(スマホ基準)
========================= */
header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* Safari対策 */
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  /* padding: 0 18px; */
}

header ul {
  display: flex;
}
header nav,
header address,
header form {
  display: none;
}
header img {
  display: block;
}

/* =========================
   hero(スマホ基準)
========================= */
.hero {
  background: url(img/mv.jpg) center center / cover no-repeat scroll;
  text-align: center;
  padding: 36px 16px;
}
.hero h2 {
  color: white;
  font-size: 32px;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  padding-top: 36px;
}
.hero p {
  color: white;
  line-height: 1.8;
  font-size: 16px;
  margin: 40px 0;
}
a {
  text-decoration: none;
  color: initial;
}

/* =========================
   popular-item(スマホ基準)
========================= */
.popular-item {
  margin: 48px 0;
}

.popular-item .flex {
  display: flex;
  gap: 16px;
  background: white;
  margin-top: 32px;
  flex-wrap: wrap;
}

.popular-item .card {
  flex: 1 1 calc(50% - 8px);
  background: white;
}

.popular-item .card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.popular-item .card p {
  font-size: 14px;
}
.card {
  position: relative;
}
.badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 1;
}

.card-link img:hover {
  opacity: 0.7;
  transition: opacity 0.4s;
}
/* =========================
    feature(スマホ基準)
 ========================= */
.feature {
  padding: 48px 0;
}
.feature-list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.feature .item .feature-img {
  position: relative;
  overflow: hidden;
}

.feature-list .item img {
  width: 100%;
  aspect-ratio: 67 / 32;
  object-fit: cover; /* はみ出した部分をトリミング */
  vertical-align: bottom;
}

.feature .item .feature-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 0;
}

.feature .item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.7px;
  width: 90%;
}

.feature .feature-list .item + .item {
  margin-top: 24px;
}
.feature-link {
  display: block;
}
.feature-link:hover .feature-img {
  opacity: 0.8;
}
.feature-img {
  transition: opacity 0.3s;
}
/* =========================
   footer(スマホ基準)
========================= */

footer {
  background: #f1f1f1;
  padding: 24px 0;
}

footer small {
  margin-top: 28px;
  display: block;
  text-align: center;
}

footer nav {
  margin-top: 16px;
}

footer address {
  margin-top: 16px;
}

footer address ul {
  display: flex;
  gap: 24px;
  font-size: 24px;
}

footer h1 img {
  vertical-align: bottom;
}
footer address li .fa-brands {
  color: gray;
}

footer .fa-brands:hover {
  color: black;
  transition: opacity 0.4s;
}

footer nav li {
  font-size: 16px;
}

/* =========================
   タブレット用の調整
========================= */
@media (min-width: 768px) and (max-width: 1023px) {
  /* =========================
     common
  ========================= */
  .container {
    max-width: 100%;
  }
    .more-btn {
    width: 30%;
  }
  /* =========================
   header(タブレット基準)
========================= */
  header .ec-nav {
    color: #76c904;
    display: flex;
    margin-left: auto;
    order: 2;
  }
  header h1 {
    order: 1;
  }
  header .m-menu {
    order: 3;
    margin-left: 24px;
  }
  header .ec-nav ul {
    display: flex;
    gap: 24px;
    font-size: 24px;
  }

  .fa-solid,
  .fa-regular {
    color: #76c904;
  }

  /* =========================
popular(タブレット基準)
========================= */
  .popular-item .card {
    flex: 1 1 calc(32% - 10px);
  }
  .fa-brands {
    color: gray;
  }

  /* =========================
feature(タブレット基準)
========================= */

  .feature-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  .feature-list .item {
    width: calc((100% - 16px) / 2);
  }
  .feature .item .text {
    font-size: 20px;
  }
  .feature .feature-list .item + .item {
    margin-top: 0;
  }
}

/* =========================
   PC以上(PC基準)
========================= */
@media (min-width: 1024px) {
  /* =========================
     common
  ========================= */
  .container {
    max-width: 1200px;
  }
  .more-btn {
    width: 30%;
  }
  /* =========================
   header(PC基準)
========================= */
  header h1 {
    margin-right: 64px;
  }
  header .main-nav {
    order: 2;
    font-size: 16px;
    font-weight: bold;
    display: block;
  }
  header .main-nav a {
    color: #76c904;
  }
  header .main-nav ul {
    display: flex;
    gap: 24px;
  }

  header .ec-nav {
    color: #76c904;
    display: flex;
    margin-left: auto;
    order: 3;
  }
  header h1 {
    order: 1;
  }
  header .m-menu {
    order: 3;
    margin-left: 24px;
  }
  header .ec-nav ul {
    display: flex;
    gap: 24px;
    font-size: 24px;
  }

  .fa-solid,
  .fa-regular {
    color: #76c904;
  }

  /* =========================
     popular(PC基準)
  ========================= */
  .popular-item .flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .popular-item .card {
    flex: none;
  }

  .fa-brands {
    color: gray;
  }

  /* =========================
feature(PC基準)
========================= */

  .feature-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  .feature-list .item {
    width: calc((100% - 32px) / 3);
  }
  .feature .item .text {
    font-size: 20px;
  }
  .feature .feature-list .item + .item {
    margin-top: 0;
  }
}
